<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Album</title>
</head>
<body>
    <h1>Album a editar</h1>
    <br>
    <br>
    <form action="/actualizarBD/{{album.0}}" method="POST">
        <input type="text" name="txtTituloUp" value="{{album.1}}">
        <input type="text" name="txtArtistaUp" value="{{album.2}}">
        <input type="number" name="txtAnioUp" value="{{album.3}}">

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>