<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreria</title>
</head>
<body>
    
        <h1>Floreria</h1>
        <br>
        <form action="/registrar" method="POST" style="align-items: center;">
            <label for="">Flor</label>
            <input type="text" placeholder="Ingrese el nombre" name="flor">
            <br>
            <label for="">Cantidad</label>
            <input type="number" name="cantidad" id="" placeholder="Ingrese la cantidad">
            <br>
            <label for="">Precio</label>
            <input type="number" name="precio" id="" placeholder="Ingrese el precio">
            <br><br><br>
            <button type="submit">Registrar</button>
    
        </form>
        <br><br><br>
        <a href="/consultar"><button>Consultar Registros</button></a>
</body>
</html>